# Node.js
node_modules/
.history/

# Logs
logs
*.log
npm-debug.log*



# .env file
.env


# Editor directories and files
.vscode/
.idea/

# Dependency directories
.jest/
.pnpm/
.pnp/
.npm/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local


